[submodule "tools/Ping-App"]
	path = tools/Ping-App
	url = git@github.com:JaedanC/Ping-App.git
[submodule "tools/Meraki-App"]
	path = tools/Meraki-App
	url = git@github.com:JaedanC/Meraki-App.git
[submodule "tools/MultiPing"]
	path = tools/MultiPing
	url = git@github.com:JaedanC/MultiPing.git
[submodule "tools/LoudPing"]
	path = tools/LoudPing
	url = git@github.com:JaedanC/LoudPing.git
[submodule "extra"]
	path = extra
	url = git@github.com:JaedanC/GenericAPI.git
